
<!--footer-->
.img-container {
	width: 140px;
	height: 45px;
  }
  img.footer-img {
	width: 132px;
  }
  footer {
	background-color: #000;
	width: auto;
	height: 33.2em;
	display: grid;
	padding-left: 190px;
	padding-top: 75px;
	grid-template-columns: repeat(4, 190px);
  }
  .footer-links {
	display: grid;
	grid-template-columns: repeat(3, 200px);
	margin-top: 20px;
  }
  .footer-links ul li h5 {
	color: #a9a9a9;
	font-size: 12px;
	letter-spacing: 0.5px;
	margin-bottom: 25px;
  }
  .footer-links ul li a {
	display: flex;
	color: #fff;
	margin-bottom: 20px;
  }
  .last-section-div {
	width: auto;
	margin-top: 25px;
  }
  .last-section-div ul {
	position: absolute;
	display: flex;
	flex-direction: row;
	margin-top: 5px;
	margin-left: -190px;
  }
  .last-section-div ul li {
	margin-right: 23px;
  }
  .last-section-div ul li a {
	color: #a9a9a9;
	font-size: 12px;
  }
  .social-media-icons {
	width: 220px;
	height: 60px;
	margin-left: 298%;
	margin-top: 20px;
  }

  .spotify-copyright {
	color: #a9a9a9;
	font-size: 12px;
	margin-left: 730px;
  }

.footer-links li a:hover,
.last-section-div li a:hover,
.social-media-icons a:hover,
.state-copyright-area a:hover {
	color:#1ed760;
}

  /* icons */
  .fa-instagram {
	background: #242424;
	color: white;
	font-size: 28px;
	width: 54px;
	padding: 13px;
	text-align: center;
	border-radius: 50%;
	margin-right: 10px;
  }
  .fa-twitter {
	background: #242424;
	color: white;
	font-size: 24px;
	width: 54px;
	padding: 14.5px;
	text-align: center;
	border-radius: 50%;
	margin-right: 10px;
  }
  .fa-facebook-f {
	background: #242424;
	color: white;
	font-size: 25px;
	width: 54px;
	padding: 16px;
	text-align: center;
	border-radius: 50%;
	margin-right: 10px;
  }